body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color:#e4d6b8;
}

.container {
    margin: 0px 166px;
}

.reserv-title {
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
}

.reserv-title>span {
    color: #e7b750;
}

.reserv-form {
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #2e1f14;

}
.footer {
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: #bd994c;
    color: #fff;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-copyright {
    color: #947560;
}

.tomainpage {
    color: #947560;
}

.to-items {
    font-family: 'Open Sans', sans-serif;
    color: #2e1f14;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;

    margin-left: 90px;
}


